Repository w3c/rdf-n-quads, pull requests merged in 2023-05, with the labels that each got.

#31 Update the reference to the DERI spec to a more stable URL.
  spec/index.html
Labels: spec:editorial

#32 FPWD publication snapshot.
  publication-snapshots/FPWD/Overview.html
  publication-snapshots/FPWD/nquads-bnf.html
  publication-snapshots/FPWD/nquads.bnf
Labels: ms:FPWD

#35 Update media-type language.
  spec/index.html
Labels: spec:editorial

#36 hot fix on FPWD (also reflected on TR/)
  publication-snapshots/FPWD/Overview.html
  spec/index.html
Labels: ms:FPWD, spec:editorial

#34 improve display on mobile phones
  spec/index.html
Labels: spec:editorial
